.upper, h1 {
    text-transform: uppercase;
}

.wrap {
    background: url(./assets/back1.png) no-repeat top center, url(./assets/patt1.png);
    background-size: cover, 15px 15px;
    background-blend-mode: overlay;
    height: 566px;
}

header section {
    display: flex;
    justify-content: space-between;
    max-width: 1020px;
    height: 168px;
    margin: 0 auto;
}

.logo {
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    margin-top: 27px;
}

header h1 {
    margin-left: 8px;
    font-size: 41px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans";
    font-style: italic;
}

.nav {
    width: 456px;
    height: 42px;
    margin-top: 70px;
}

.nav ul {
    display: flex;
    background: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
    justify-content: space-around;
    box-shadow: -6px -6px rgba(245, 197, 5, 0.27), -9px -9px 1px rgba(245, 197, 5, 0.27);
    /* на равную длину расположить, поиграть с шириной*/
}

.nav ul a {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #9b7d08;
    border-left: 1px solid #b99403;
}

.nav ul a:hover {
    color: white;
}

.nav ul a:active {
    color: red;
}

.nav ul a li {
    font-size: 17px;
    letter-spacing: 0px;
    font-family: "Segoe WP";
    box-sizing: border-box;
}

.nav ul a:first-child {
    background: url(../assets/man.svg) 20px no-repeat;
    background-position-x: 39px;
    border: none;
    width: 172px;
    padding: 0 22px 0 70px;
}

.nav ul a:nth-child(2) {
    background: url(../assets/key.svg) 20px no-repeat;
    width: 134px;
    padding-right: 18px;
    padding-left: 42px;
}

.nav ul a:last-child {
    background: url(../assets/mail.svg) 20px no-repeat;
    width: 150px;
    padding-right: 22px;
    padding-left: 49px;
}

/* alternate nav with list style
.nav {
    width: 454px;
    height: 42px;
    margin-top: 70px;
}

.nav ul {
    display: flex;
    background: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
    box-shadow: -6px -6px rgba(245, 197, 5, 0.27), -9px -9px 1px rgba(245, 197, 5, 0.27);
    /* на равную длину расположить, поиграть с шириной
}

.nav ul a {
    height: 42px;
    align-items: center;
    text-decoration: none;
    color: #9b7d08;
    border-left: 1px solid #b99403;
    margin-top: 15px;
}

.nav ul a:hover {
    color: white;
}

.nav ul a:active {
    color: red;
}

.nav ul a li {
    font-size: 17px;
    letter-spacing: 0px;
    font-family: "Segoe WP";
    box-sizing: border-box;
}

.nav ul a:first-child {
    list-style: url(./assets/man.svg) outside;
    border: none;
    width: 172px;
    padding: 0 22px 0 70px;
}

.nav ul a:nth-child(2) {
    list-style: url(../assets/key.svg);
    padding-right: 18px;
    padding-left: 42px;
}

.nav ul a:last-child {
    list-style: url(../assets/mail.svg);
    padding-right: 22px;
    padding-left: 49px;
}
*/

/***1-1***/

.banner {
    display: flex;
    max-width: 1020px;
    margin: 0 auto;
}

.banner h1 {
    font-size: 63px;
    letter-spacing: 1px;
    font-family: "Asap";
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 1.2;
    margin-top: 92px;
    margin-left: 51px;
}

.banner span {
    color: #f5c506;
}

.contr {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 300px;
}

.contr div {
    width: 32px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5c506;
}

.wrap .banner video {
    width: 549px;
    height: 327px;
    box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.75);
}

.cover {
    object-fit: cover;
}

.banner video::-webkit-media-controls-play-button {
    background-color: #f5c506;
    width: 27px;
    height: 27px;
    margin-left: 29px;
    margin-bottom: 22px;
}

.banner video::-webkit-media-controls-timeline {
    width: 404px;
    height: 12px;
    border-radius: 5px;
    background-color: #f5c506;
    margin: 0 auto 29px auto;
}

/***2**/

.white {
    background: url(./assets/pattwh.png);
    background-size: 7px 7px;
}

.white_inner {
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.5);
    height: 212px;
}

/*
.white_inner:after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}*/

.white_inner ul {
    max-width: 1020px;
    height: 212px;
    margin: 0 auto;
    display: flex;
    font-size: 27px;
    letter-spacing: 0px;
    font-family: "Segoe UI";
    font-weight: 300;
    /* justify-content: space-around;*/
}

.white ul li {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-basis: 100%;
    padding-bottom: 38px;
    border-left: 1px solid rgb(0, 0, 0, 0.14);
}

.white ul li:nth-child(1) {
    background: url(./assets/better.svg) no-repeat center;
    background-size: 110px 74px;
    background-position-y: 60px;
}

.white ul li:nth-child(2) {
    background: url(./assets/cust.svg) no-repeat center;
    background-position-y: 36px;
    background-size: 91px 95px;
}

.white ul li:nth-child(3) {
    background: url(./assets/its.svg) no-repeat center;
    background-position-y: 53px;
    border-right: 1px solid rgb(0, 0, 0, 0.14);
    background-size: 82px 84px;
}

/***3***/

.lorem {
    background: url(./assets/yellow.png) no-repeat top center/cover;
    height: 510px;
    overflow: hidden;
}

.lorem_div {
    max-width: 1020px;
    margin: 0 auto;
    /*display: flex;
    justify-content: space-around;*/
}

.lorem_div h1 {
    font-size: 37px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "PT Sans";
    font-weight: 400;
    margin-top: 42px;
    text-align: left;
}

.big {
    margin-top: 40px;
    display: flex;
}

.big0 {
    position: relative;
    height: 319px;
}

.date {
    position: absolute;
    bottom: 0;
}

.text {
    background-color: #ec9e03;
    width: 341px;
    height: 233px;
    position: relative;
}

.text p {
    font-size: 29px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP";
    font-weight: 300;
    padding: 25px 38px 34px 31px;
    overflow-wrap: break-word;
}

.text div input {
    position: absolute;
    outline: none;
    bottom: 13px;
    right: 14px;
}

.vid video {
    width: 314px;
    height: 233px;
    -webkit-appearance: none;
    position: relative;
}

.vid video::-webkit-media-controls-play-button {
    background-color: #f5c506;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
}

.vid video::-webkit-media-controls-timeline, .vid video::-webkit-media-controls-current-time-display, .vid video::-webkit-media-controls-fullscreen-button, .vid video::-webkit-media-controls-volume-control-container {
    display: none;
}

.twit {
    background: #ec9e03 url(./assets/twitter.svg) no-repeat center;
    width: 329px;
    height: 233px;
    margin-left: auto;
    position: relative;
}

.twit div {
    margin-bottom: 15px;
}

.twit div input {
    position: absolute;
    outline: none;
    bottom: 13px;
    right: 9px;
}

.plus input:active {
    transition: 0.3s;
    transform: rotate(360deg);
}

.twit p {
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP";
    font-weight: 300;
    text-align: right;
    margin-right: 19px;
    margin-top: 10px;
}

.date {
    margin-top: 0px;
    width: 113px;
    height: 86px;
    background-color: #ddb101;
}

.april {
    font-size: 51px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}

.april2 {
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #b26529;
    font-family: "Segoe UI";
    text-align: center;
}

.range {
    display: flex;
    justify-content: center;
    margin-top: 128px;
}

.range input {
    -webkit-appearance: none;
    width: 896px;
    height: 15px;
    border-radius: 7px;
    background-color: #ffffff;
    opacity: 0.48;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 197px;
    height: 15px;
    border-radius: 7px;
    background-color: #ec9e03;
    cursor: pointer;
}

/**4**/

.grey {
    background: #4c4c4c url(./assets/patt2.png);
    background-size: 10px 10px;
    background-blend-mode: overlay;
    height: 496px;
    overflow: hidden;
}

.grey-div {
    max-width: 1020px;
    margin: 0 auto;
}

.inn {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.grey-div h1 {
    font-size: 43px;
    letter-spacing: 0px;
    color: #f5c506;
    font-family: "PT Sans";
    font-weight: 400;
    text-align: center;
    margin-top: 48px;
}

.grey figure {
    margin-left: 18px;
    margin-top: 57px;
}

.grey figure img {
    padding-right: 24px;
}

.grey figure img:nth-child(2) {
    position: absolute;
    top: 99px;
}

.grey figure img:nth-child(3) {
    position: absolute;
    top: 209px;
    left: 520px;
}

.grey-div .cir {
    position: absolute;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    background-color: #f5c506;
    z-index: 1;
}

.grey-div .cir p {
    font-size: 19px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "PT Sans Narrow";
    font-weight: 700;
    text-align: center;
    line-height: 117px;
}

.grey-div ul {
    width: 384px;
    margin-top: 107px;
}

.grey-div ul li {
    font-size: 22px;
    letter-spacing: 0px;
    color: #a9a9a7;
    font-family: "Open Sans";
    font-weight: 400;
    list-style: url(./assets/marker.svg) outside;
    padding-left: 20px;
    padding-bottom: 26px;
    margin-right: 0px;
}

/**foot**/

footer {
    background-color: #4c4c4c;
    box-shadow: -0.105px -2.998px 5px rgba(0, 0, 0, 0.75);
    height: 62px;
}

footer section {
    max-width: 1020px;
    margin: 0 auto;
}

.logo-foot {
    display: flex;
    align-items: center;
}

.logo-foot img {
    width: 54px;
    height: 54px;
    margin-top: 40;
}

footer section h1 {
    font-size: 29px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans";
    font-style: italic;
    text-align: center;
}

/*****media*****/

@media screen and (max-width: 640px) {
    .wrap {
        width: 640px;
    }
    header section {
        height: auto;
    }
    .logo {
        width: 184px;
        height: 62px;
        margin-top: 0;
        background-image: linear-gradient(0deg, #000000 0%, #41413f 100%);
    }
    .logo img {
        width: 41px;
        height: 41px;
    }
    .nav {
        margin-top: 0;
        height: auto;
    }
    .nav ul {
        box-shadow: none;
        height: 62px;
        align-items: center;
    }
    .nav ul a, .logo h1 {
        font-size: 19px;
    }
    .wrap {
        all: initial;
    }
    .wrap .banner {
        width: 640px;
        height: 327px;
    }
    .wrap .banner video {
        width: 640px;
    }
    .banner h1 {
        display: none;
    }
    .contr {
        display: none;
    }
    /********/
    .white_inner, .white_inner ul {
        height: 174px;
        font-size: 23px;
    }
    .white .white_inner .upper li {
        background-position-y: 28px;
        padding-bottom: 33px;
    }
    .white ul li:nth-child(1) {
        background-size: 90px 62px;
    }
    .white ul li:nth-child(2) {
        background-size: 67px 70px;
    }
    .white ul li:nth-child(3) {
        background-size: 69px 70px;
    }
    /*****/
    .lorem {
        background: none;
    }
    .lorem_div h1, .range, .date, .twit p, .twit .plus {
        display: none;
    }
    .lorem, .lorem_div .big0 {
        height: 485px;
    }
    .big {
        margin-top: 0;
        flex-wrap: wrap;
    }
    .text {
        width: 299px;
        height: 232px;
        margin: 9px;
        margin-top: 11px;
        margin-right: 4.5px;
    }
    .big .vid {
        width: 299px;
        margin: 9px;
        margin-top: 11px;
        margin-left: 4.5px;
    }
    .text div input {
        right: 12px;
        bottom: 18px;
    }
    .text p {
        padding: 22px 38px 21px 26px;
        line-height: 33px;
    }
    .twit {
        width: 647px;
        background-color: #f5c507;
        background-position: 25% center;
    }
    /*****/
    .grey {
        height: 487px;
    }
    .grey-div h1 {
        letter-spacing: 0px;
        font-family: "Open Sans";
        font-size: 39px;
        margin-top: 43px;
    }
    .grey-div ul {
        display: none;
    }
    .grey figure {
        margin-top: 83px;
        margin-left: 57px;
    }
    .grey figure img:nth-child(2) {
        top: 125px;
    }
    .grey figure img:nth-child(3) {
        top: 235px;
        left: 558px;
    }
    .grey-div .cir {
        left: 26px;
        bottom: 278px;
    }
    footer {
        height: 44px;
    }
    .logo-foot {
        margin-left: 64px;
    }
    .logo-foot img {
        width: 31px;
        height: 31px;
    }
    .logo-foot h1 {
        font-size: 17px;
    }
}