.upper, h1 {
    text-transform: uppercase;
}

.wrap {
    background: url(./assets/back1.png) no-repeat top center, url(./assets/patt1.png);
    background-size: cover, 15px 15px; 

    background-blend-mode:overlay;
    height: 566px;
}


header section {
    display: flex;
    justify-content: space-between;
    width: 1020px;
    height: 168px;
    margin: 0 auto;
}

.logo {
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    margin-top: 27px;
}

header h1 {
    margin-left: 8px;
    font-size: 41px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans";
    font-style: italic;
}

.nav {
    width: 456px;
    height: 42px;
    margin-top: 70px;
}

.nav ul {
    display: flex;
    background: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
    justify-content: space-around;
    box-shadow: -6px -6px rgba(245, 197, 5, 0.27), -9px -9px 1px rgba(245, 197, 5, 0.27);
    /* на равную длину расположить, поиграть с шириной*/
}

.nav ul a {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #9b7d08;
    border-left: 1px solid #b99403;
}

.nav ul a li {
    font-size: 17px;
    letter-spacing: 0px;
    font-family: "Segoe WP";
    box-sizing: border-box;
}

.nav ul a:first-child {
    background: url(../assets/man.svg) 20px no-repeat;
    background-position-x: 39px;
    border: none;
    width: 172px;
    padding: 0 22px 0 70px;
}

.nav ul a:nth-child(2) {
    background: url(../assets/key.svg) 20px no-repeat;
    width: 134px;
    padding-right: 18px;
    padding-left: 42px;
}

.nav ul a:last-child {
    background: url(../assets/mail.svg) 20px no-repeat;
    width: 150px;
    padding-right: 22px;
    padding-left: 49px;
}

/***1-1***/

.banner {
    display: flex;
    width: 1020px;
    margin: 0 auto;
    
}

.banner h1 {
    font-size: 63px;
    letter-spacing: 1px;
    font-family: "Asap";
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 1.2;
    margin-top: 92px;
    margin-left: 51px;
}

.banner span {
    color: #f5c506;
}

.contr {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 300px;
}

.contr div {
    width: 32px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5c506;
}

.wrap .banner video {
    width: 549px;
    height: 327px;
}

.cover {
    object-fit: cover;
}
/***2**/
.white{
    background: url(./assets/pattwh.png);
    background-size: 7px 7px;
}
.white_inner{
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.5);
}/*
.white_inner:after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}*/
.white_inner ul{
    width: 1020px;
    height: 212px;
    margin: 0 auto;
    display: flex;
    font-size: 27px;
letter-spacing: 0px;
font-family: "Segoe UI";
font-weight: 300;
padding-bottom: 0px;
   /* justify-content: space-around;*/
}
.white ul li{
    display: flex;
   /* justify-content: center;*/
   flex-basis: 100%;
    
border-left: 1px solid black;
}
.white ul li:nth-child(1){
    background: url(./assets/better.svg) no-repeat center;
}
.white ul li:nth-child(2){
    background: url(./assets/cust.svg) no-repeat center;
}
.white ul li:nth-child(3){
    background: url(./assets/its.svg) no-repeat center;
    border-right: 1px solid black;
}

/***3***/
.lorem{ 
background: url(./assets/yellow.png) no-repeat top center/cover;
height: 510px;
overflow: hidden;

}

.lorem_div{
    width: 1020px;
    margin: 0 auto;
    
    /*display: flex;
    justify-content: space-around;*/
}
.lorem_div h1{
    font-size: 37px;
letter-spacing: 0px;
color: #ffffff;
font-family: "PT Sans";
font-weight: 400;
margin-top: 42px;
text-align: left;
}
.big{
    margin-top: 40px;
    display: flex;
}
.text{
    background-color: #ec9e03;
width: 341px;
height: 233px;
position: relative;

}
.text p{
    
   
    font-size: 29px;
letter-spacing: 0px;
line-height: 38px;
color: #ffffff;
font-family: "Segoe WP";
font-weight: 300;
padding:25px 38px 34px 31px;
overflow-wrap: break-word;
}
.text div input{
    position: absolute;
   outline: none;
   bottom: 13px;
    right:14px;
}
.vid video{
    width: 314px;
    height: 233px;
    -webkit-appearance:none;

}
.cover::-webkit-media-controls-play-button{
    background-color:yellow;
}
.twit{
    background: #ec9e03 url(./assets/twitter.svg) no-repeat center;
    width: 329px;
    height: 233px;
    margin-left: auto;
    position: relative;
}
.twit div{
margin-bottom: 15px;

}
.twit div input{
    position: absolute;
    outline:none;
    bottom: 13px;
    right:9px;
}
.twit p{
    font-size: 25px;
letter-spacing: 0px;
line-height: 38px;
color: #ffffff;
font-family: "Segoe WP";
font-weight: 300;
text-align: right;
margin-right: 19px;
margin-top: 10px;
}
.date{
    margin-top: 0px;
}
.april{
    font-size: 51px;
letter-spacing: 1px;
line-height: 38px;
color: #ffffff;
font-family: "Segoe UI";
font-weight: bold;
background-color: #ddb101;
width: 113px;
height: 86px;
text-align: center;
}
.april span{
    font-size: 21px;
letter-spacing: 0px;
line-height: 38px;
color: #b26529;
font-family: "Segoe UI";
}

.range{
    display: flex;
    justify-content: center;
    margin-top: 128px;
    
}
.range input{
    -webkit-appearance: none;
    width: 896px;
height: 15px;
border-radius: 7px;
background-color: #ffffff;
opacity: 0.48;   
outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 197px;
    height: 15px;
    border-radius: 7px;
    background-color: #ec9e03;
    cursor: pointer;
}

/**4**/
.grey{
    background: #4c4c4c url(./assets/patt2.png);
    background-size: 10px 10px;
    background-blend-mode:overlay;
    height: 496px;
    overflow: hidden;
    
}
.grey-div{
    width: 1020px;
    margin: 0 auto;
    
}
.inn{
    display: flex;
    justify-content: space-between;
}
.grey-div h1{
    font-size: 43px;
letter-spacing: 0px;
color: #f5c506;
font-family: "PT Sans";
font-weight: 400;
text-align: center;
margin-top: 48px;
}
.grey figure{
    
    margin-left:18px;
   
    margin-top: 57px;
}
.grey figure img{
    padding-right: 24px;
    

}

.grey-div .cir{
    position: absolute;
width: 117px;
height: 117px;
border-radius: 50%;
background-color: #f5c506;

}
.grey-div .cir p{
    font-size: 19px;
letter-spacing: 0px;
color: #ffffff;
font-family: "PT Sans Narrow";
font-weight: 700;
text-align: center;
line-height: 117px;
} 
.grey-div ul{
    width: 384px;
    margin-top: 107px;
}
.grey-div ul li{
    font-size: 22px;
letter-spacing: 0px;
color: #a9a9a7;
font-family: "Open Sans";
font-weight: 400;
list-style: url(./assets/marker.svg) outside;
padding-left: 20px;
padding-bottom: 26px;
margin-right: 0px;
}
/**foot**/
footer{
    background-color: #4c4c4c;
    box-shadow: -0.105px -2.998px 5px rgba(0,0,0,0.75);
    height: 62px;
}
footer section{
    width: 1020px;
    margin: 0 auto;
}
.logo-foot{
    display: flex;
    align-items: center;
}
.logo-foot img{
    width: 54px;
    height: 54px;
margin-top: 40;}
footer section h1{
    font-size: 29px;
letter-spacing: 0px;
color: #ffffff;
font-family: "Lucida Sans";
font-style: italic;
text-align: center;
}
